/* Utility classes
-------------------------------------------------- */
.clearfix:before,
.clearfix:after,
.fw-container:before,
.fw-container:after,
.fw-container-fluid:before,
.fw-container-fluid:after,
.fw-row:before,
.fw-row:after {
    content: " ";
    display: table;
}
.clearfix:after,
.fw-container:after,
.fw-container-fluid:after,
.fw-row:after {
    clear: both;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.invisible {
    visibility: hidden;
}
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}
.affix {
    position: fixed;
}
.fw-itable {
    display: table;
    height: 100%;
    width: 100%;
}
.fw-icell {
    display: table-cell;
    vertical-align: middle;
}
img,
iframe,
embeded {
    max-width: 100%;
    height: auto;
}
/* Grid system
-------------------------------------------------- */
.fw-container,
.fw-container *,
.fw-container *:before,
.fw-container *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.fw-container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    .fw-container {
        max-width: 750px;
    }
}
@media (min-width: 992px) {
    .fw-container {
        max-width: 970px;
    }
}
@media (min-width: 1200px) {
    .fw-container {
        max-width: 1170px;
    }
}
.fw-container-fluid {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.fw-row {
    margin-left: -15px;
    margin-right: -15px;
}
.fw-row:before,
.fw-row:after {
    content: " ";
    display: table;
}
.fw-row:after {
    clear: both;
}
.fw-row:before,
.fw-row:after {
    content: " ";
    display: table;
}
.fw-row:after {
    clear: both;
}
.fw-col-xs-1, .fw-col-sm-1, .fw-col-md-1, .fw-col-lg-1, .fw-col-xs-2, .fw-col-sm-2, .fw-col-md-2, .fw-col-lg-2, .fw-col-xs-3, .fw-col-sm-3, .fw-col-md-3, .fw-col-lg-3, .fw-col-xs-4, .fw-col-sm-4, .fw-col-md-4, .fw-col-lg-4, .fw-col-xs-5, .fw-col-sm-5, .fw-col-md-5, .fw-col-lg-5, .fw-col-xs-6, .fw-col-sm-6, .fw-col-md-6, .fw-col-lg-6, .fw-col-xs-7, .fw-col-sm-7, .fw-col-md-7, .fw-col-lg-7, .fw-col-xs-8, .fw-col-sm-8, .fw-col-md-8, .fw-col-lg-8, .fw-col-xs-9, .fw-col-sm-9, .fw-col-md-9, .fw-col-lg-9, .fw-col-xs-10, .fw-col-sm-10, .fw-col-md-10, .fw-col-lg-10, .fw-col-xs-11, .fw-col-sm-11, .fw-col-md-11, .fw-col-lg-11, .fw-col-xs-12, .fw-col-sm-12, .fw-col-md-12, .fw-col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
@media (max-width: 991px) {
.fw-col-xs-1, .fw-col-sm-1, .fw-col-md-1, .fw-col-lg-1, .fw-col-xs-2, .fw-col-sm-2, .fw-col-md-2, .fw-col-lg-2, .fw-col-xs-3, .fw-col-sm-3, .fw-col-md-3, .fw-col-lg-3, .fw-col-xs-4, .fw-col-sm-4, .fw-col-md-4, .fw-col-lg-4, .fw-col-xs-5, .fw-col-sm-5, .fw-col-md-5, .fw-col-lg-5, .fw-col-xs-6, .fw-col-sm-6, .fw-col-md-6, .fw-col-lg-6, .fw-col-xs-7, .fw-col-sm-7, .fw-col-md-7, .fw-col-lg-7, .fw-col-xs-8, .fw-col-sm-8, .fw-col-md-8, .fw-col-lg-8, .fw-col-xs-9, .fw-col-sm-9, .fw-col-md-9, .fw-col-lg-9, .fw-col-xs-10, .fw-col-sm-10, .fw-col-md-10, .fw-col-lg-10, .fw-col-xs-11, .fw-col-sm-11, .fw-col-md-11, .fw-col-lg-11, .fw-col-xs-12, .fw-col-sm-12, .fw-col-md-12, .fw-col-lg-12 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media (min-width: 768px) {
    .fw-col-sm-1, .fw-col-sm-2, .fw-col-sm-3, .fw-col-sm-4, .fw-col-sm-5, .fw-col-sm-6, .fw-col-sm-7, .fw-col-sm-8, .fw-col-sm-9, .fw-col-sm-10, .fw-col-sm-11, .fw-col-sm-12 {
        float: left;
    }
    .fw-col-sm-12 {
        width: 100%;
    }
    .fw-col-sm-11 {
        width: 91.66666667%;
    }
    .fw-col-sm-10 {
        width: 83.33333333%;
    }
    .fw-col-sm-9 {
        width: 75%;
    }
    .fw-col-sm-8 {
        width: 66.66666667%;
    }
    .fw-col-sm-7 {
        width: 58.33333333%;
    }
    .fw-col-sm-6 {
        width: 50%;
    }
    .fw-col-sm-5 {
        width: 41.66666667%;
    }
    .fw-col-sm-4 {
        width: 33.33333333%;
    }
    .fw-col-sm-3 {
        width: 25%;
    }
    .fw-col-sm-2 {
        width: 16.66666667%;
    }
    .fw-col-sm-1 {
        width: 8.33333333%;
    }
    .fw-col-sm-pull-12 {
        right: 100%;
    }
    .fw-col-sm-pull-11 {
        right: 91.66666667%;
    }
    .fw-col-sm-pull-10 {
        right: 83.33333333%;
    }
    .fw-col-sm-pull-9 {
        right: 75%;
    }
    .fw-col-sm-pull-8 {
        right: 66.66666667%;
    }
    .fw-col-sm-pull-7 {
        right: 58.33333333%;
    }
    .fw-col-sm-pull-6 {
        right: 50%;
    }
    .fw-col-sm-pull-5 {
        right: 41.66666667%;
    }
    .fw-col-sm-pull-4 {
        right: 33.33333333%;
    }
    .fw-col-sm-pull-3 {
        right: 25%;
    }
    .fw-col-sm-pull-2 {
        right: 16.66666667%;
    }
    .fw-col-sm-pull-1 {
        right: 8.33333333%;
    }
    .fw-col-sm-pull-0 {
        right: auto;
    }
    .fw-col-sm-push-12 {
        left: 100%;
    }
    .fw-col-sm-push-11 {
        left: 91.66666667%;
    }
    .fw-col-sm-push-10 {
        left: 83.33333333%;
    }
    .fw-col-sm-push-9 {
        left: 75%;
    }
    .fw-col-sm-push-8 {
        left: 66.66666667%;
    }
    .fw-col-sm-push-7 {
        left: 58.33333333%;
    }
    .fw-col-sm-push-6 {
        left: 50%;
    }
    .fw-col-sm-push-5 {
        left: 41.66666667%;
    }
    .fw-col-sm-push-4 {
        left: 33.33333333%;
    }
    .fw-col-sm-push-3 {
        left: 25%;
    }
    .fw-col-sm-push-2 {
        left: 16.66666667%;
    }
    .fw-col-sm-push-1 {
        left: 8.33333333%;
    }
    .fw-col-sm-push-0 {
        left: auto;
    }
    .fw-col-sm-offset-12 {
        margin-left: 100%;
    }
    .fw-col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .fw-col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .fw-col-sm-offset-9 {
        margin-left: 75%;
    }
    .fw-col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .fw-col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .fw-col-sm-offset-6 {
        margin-left: 50%;
    }
    .fw-col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .fw-col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .fw-col-sm-offset-3 {
        margin-left: 25%;
    }
    .fw-col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .fw-col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .fw-col-sm-offset-0 {
        margin-left: 0%;
    }
}
@media (min-width: 992px) {
    .fw-col-md-1, .fw-col-md-2, .fw-col-md-3, .fw-col-md-4, .fw-col-md-5, .fw-col-md-6, .fw-col-md-7, .fw-col-md-8, .fw-col-md-9, .fw-col-md-10, .fw-col-md-11, .fw-col-md-12 {
        float: left;
    }
    .fw-col-md-12 {
        width: 100%;
    }
    .fw-col-md-11 {
        width: 91.66666667%;
    }
    .fw-col-md-10 {
        width: 83.33333333%;
    }
    .fw-col-md-9 {
        width: 75%;
    }
    .fw-col-md-8 {
        width: 66.66666667%;
    }
    .fw-col-md-7 {
        width: 58.33333333%;
    }
    .fw-col-md-6 {
        width: 50%;
    }
    .fw-col-md-5 {
        width: 41.66666667%;
    }
    .fw-col-md-4 {
        width: 33.33333333%;
    }
    .fw-col-md-3 {
        width: 25%;
    }
    .fw-col-md-2 {
        width: 16.66666667%;
    }
    .fw-col-md-1 {
        width: 8.33333333%;
    }
    .fw-col-md-pull-12 {
        right: 100%;
    }
    .fw-col-md-pull-11 {
        right: 91.66666667%;
    }
    .fw-col-md-pull-10 {
        right: 83.33333333%;
    }
    .fw-col-md-pull-9 {
        right: 75%;
    }
    .fw-col-md-pull-8 {
        right: 66.66666667%;
    }
    .fw-col-md-pull-7 {
        right: 58.33333333%;
    }
    .fw-col-md-pull-6 {
        right: 50%;
    }
    .fw-col-md-pull-5 {
        right: 41.66666667%;
    }
    .fw-col-md-pull-4 {
        right: 33.33333333%;
    }
    .fw-col-md-pull-3 {
        right: 25%;
    }
    .fw-col-md-pull-2 {
        right: 16.66666667%;
    }
    .fw-col-md-pull-1 {
        right: 8.33333333%;
    }
    .fw-col-md-pull-0 {
        right: auto;
    }
    .fw-col-md-push-12 {
        left: 100%;
    }
    .fw-col-md-push-11 {
        left: 91.66666667%;
    }
    .fw-col-md-push-10 {
        left: 83.33333333%;
    }
    .fw-col-md-push-9 {
        left: 75%;
    }
    .fw-col-md-push-8 {
        left: 66.66666667%;
    }
    .fw-col-md-push-7 {
        left: 58.33333333%;
    }
    .fw-col-md-push-6 {
        left: 50%;
    }
    .fw-col-md-push-5 {
        left: 41.66666667%;
    }
    .fw-col-md-push-4 {
        left: 33.33333333%;
    }
    .fw-col-md-push-3 {
        left: 25%;
    }
    .fw-col-md-push-2 {
        left: 16.66666667%;
    }
    .fw-col-md-push-1 {
        left: 8.33333333%;
    }
    .fw-col-md-push-0 {
        left: auto;
    }
    .fw-col-md-offset-12 {
        margin-left: 100%;
    }
    .fw-col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .fw-col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .fw-col-md-offset-9 {
        margin-left: 75%;
    }
    .fw-col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .fw-col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .fw-col-md-offset-6 {
        margin-left: 50%;
    }
    .fw-col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .fw-col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .fw-col-md-offset-3 {
        margin-left: 25%;
    }
    .fw-col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .fw-col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .fw-col-md-offset-0 {
        margin-left: 0%;
    }
}
@media (min-width: 1200px) {
    .fw-col-lg-1, .fw-col-lg-2, .fw-col-lg-3, .fw-col-lg-4, .fw-col-lg-5, .fw-col-lg-6, .fw-col-lg-7, .fw-col-lg-8, .fw-col-lg-9, .fw-col-lg-10, .fw-col-lg-11, .fw-col-lg-12 {
        float: left;
    }
    .fw-col-lg-12 {
        width: 100%;
    }
    .fw-col-lg-11 {
        width: 91.66666667%;
    }
    .fw-col-lg-10 {
        width: 83.33333333%;
    }
    .fw-col-lg-9 {
        width: 75%;
    }
    .fw-col-lg-8 {
        width: 66.66666667%;
    }
    .fw-col-lg-7 {
        width: 58.33333333%;
    }
    .fw-col-lg-6 {
        width: 50%;
    }
    .fw-col-lg-5 {
        width: 41.66666667%;
    }
    .fw-col-lg-4 {
        width: 33.33333333%;
    }
    .fw-col-lg-3 {
        width: 25%;
    }
    .fw-col-lg-2 {
        width: 16.66666667%;
    }
    .fw-col-lg-1 {
        width: 8.33333333%;
    }
    .fw-col-lg-pull-12 {
        right: 100%;
    }
    .fw-col-lg-pull-11 {
        right: 91.66666667%;
    }
    .fw-col-lg-pull-10 {
        right: 83.33333333%;
    }
    .fw-col-lg-pull-9 {
        right: 75%;
    }
    .fw-col-lg-pull-8 {
        right: 66.66666667%;
    }
    .fw-col-lg-pull-7 {
        right: 58.33333333%;
    }
    .fw-col-lg-pull-6 {
        right: 50%;
    }
    .fw-col-lg-pull-5 {
        right: 41.66666667%;
    }
    .fw-col-lg-pull-4 {
        right: 33.33333333%;
    }
    .fw-col-lg-pull-3 {
        right: 25%;
    }
    .fw-col-lg-pull-2 {
        right: 16.66666667%;
    }
    .fw-col-lg-pull-1 {
        right: 8.33333333%;
    }
    .fw-col-lg-pull-0 {
        right: auto;
    }
    .fw-col-lg-push-12 {
        left: 100%;
    }
    .fw-col-lg-push-11 {
        left: 91.66666667%;
    }
    .fw-col-lg-push-10 {
        left: 83.33333333%;
    }
    .fw-col-lg-push-9 {
        left: 75%;
    }
    .fw-col-lg-push-8 {
        left: 66.66666667%;
    }
    .fw-col-lg-push-7 {
        left: 58.33333333%;
    }
    .fw-col-lg-push-6 {
        left: 50%;
    }
    .fw-col-lg-push-5 {
        left: 41.66666667%;
    }
    .fw-col-lg-push-4 {
        left: 33.33333333%;
    }
    .fw-col-lg-push-3 {
        left: 25%;
    }
    .fw-col-lg-push-2 {
        left: 16.66666667%;
    }
    .fw-col-lg-push-1 {
        left: 8.33333333%;
    }
    .fw-col-lg-push-0 {
        left: auto;
    }
    .fw-col-lg-offset-12 {
        margin-left: 100%;
    }
    .fw-col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .fw-col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .fw-col-lg-offset-9 {
        margin-left: 75%;
    }
    .fw-col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .fw-col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .fw-col-lg-offset-6 {
        margin-left: 50%;
    }
    .fw-col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .fw-col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .fw-col-lg-offset-3 {
        margin-left: 25%;
    }
    .fw-col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .fw-col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .fw-col-lg-offset-0 {
        margin-left: 0%;
    }
}
/* Content Layout */
/* -------------------------------------------------- */
.fw-main-row {
    position: relative;
}
.fw-main-row-custom {
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
/* Buttons */
/* -------------------------------------------------- */
.fw-btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    text-decoration: none;
    white-space: nowrap;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.fw-btn:hover,
.fw-btn:focus {
    text-decoration: none;
    outline: none;
}
.fw-btn i {
    margin-right: 5px;
}
.fw-btn i.pull-right {
    margin: 0 0 0 8px;
    position: relative;
    top: 0.3em;
}
.fw-btn.fw-btn-full {
    width: 100%;
}
/* Testimonails */
/* -------------------------------------------------- */
.fw-testimonials {
    position: relative;
    margin: 40px 0;
}
.fw-testimonials .fw-testimonials-item {
    position: relative;
}
.fw-testimonials .fw-testimonials-text {
    font-size: 18.2px;
    font-family: Georgia;
    font-style: italic;
    color: inherit;
}
.fw-testimonials .fw-testimonials-text p {
    margin-bottom: 1.4em;
}
.fw-testimonials .prev,
.fw-testimonials .next {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 40px;
    text-align: center;
    font-weight: normal;
    color: #999999;
}
.fw-testimonials .prev:active,
.fw-testimonials .next:active {
    margin-top: 1px;
}
.fw-testimonials .prev:hover,
.fw-testimonials .next:hover {
    color: #d5641b;
    border-color: #d5641b;
}
.fw-testimonials .prev i:before {
    content: "\f104";
}
.fw-testimonials .next i:before {
    content: "\f105";
}
.fw-testimonials .fw-testimonials-pagination a {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #999999;
    overflow: hidden;
    margin: 3px;
}
.fw-testimonials .fw-testimonials-pagination a span {
    display: block;
    text-indent: -300px;
}
.fw-testimonials .fw-testimonials-pagination a:hover,
.fw-testimonials .fw-testimonials-pagination a.selected {
    background-color: #1ac6ff;
}
.fw-testimonials-1 {
    text-align: center;
    padding: 20px 0;
}
.fw-testimonials-1 .fw-testimonials-title {
    font-family: inherit;
}
.fw-testimonials-title:after {
    content: "";
    clear: both;
    display: block;
    margin: 10px auto;
    width: 56px;
    height: 2px;
    border-top: 2px solid #d5641b;
}

.fw-testimonials-title.text-center {
    margin-bottom: 60px;
}
.fw-testimonials-title:after {border-top: 2px solid #d5641b;}
.fw-testimonials-1 .fw-testimonials-item {
    text-align: center;
}
.fw-testimonials-1 .fw-testimonials-avatar img {
    margin: 0 auto;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
}
.fw-testimonials-1 .fw-testimonials-text {
    text-align: center;
    padding: 20px 10% 10px 10%;
}
.fw-testimonials-1 .fw-testimonials-author {
    padding: 10px 0;
}
.fw-testimonials-1 .fw-testimonials-author .author-name {
    font-weight: bold;
}
.fw-testimonials-1 .fw-testimonials-author em:before {
    content: ", ";
    margin-left: -3px;
}
.fw-testimonials-1 .fw-testimonials-author .fw-testimonials-url:before {
    content: ", ";
    margin-left: -3px;
}
.fw-testimonials-1 .prev,
.fw-testimonials-1 .next {
    position: absolute;
    z-index: 2;
    top: 42%;
    font-size: 30px;
    border: 1px solid transparent;
    border-radius: 50%;
}
.fw-testimonials-1 .prev i,
.fw-testimonials-1 .next i {
    position: relative;
    top: -1px;
}
.fw-testimonials-1 .prev:active,
.fw-testimonials-1 .next:active {
    margin-top: 1px;
}
.fw-testimonials-1 .prev:hover,
.fw-testimonials-1 .next:hover {
    color: #1ac6ff;
    border-color: #1ac6ff;
}
.fw-testimonials-1 .prev {
    left: 1px;
}
.fw-testimonials-1 .prev i {
    left: -2px;
}
.fw-testimonials-1 .prev i:before {
    content: "\f104";
}
.fw-testimonials-1 .next {
    right: 1px;
}
.fw-testimonials-1 .next i {
    right: -2px;
}
.fw-testimonials-1 .next i:before {
    content: "\f105";
}
.fw-testimonials-1 .fw-testimonials-pagination {
    text-align: center;
    margin-top: 10px;
}
.fw-testimonials-1.fw-testimonials-1-2 .fw-testimonials-meta {
    display: table;
    margin: 0 auto;
}
.fw-testimonials-1.fw-testimonials-1-2 .fw-testimonials-meta > div {
    display: table-cell;
    vertical-align: middle;
}
.fw-testimonials-1.fw-testimonials-1-2 .fw-testimonials-avatar {
    display: inline-block;
}
.fw-testimonials-1.fw-testimonials-1-2 .fw-testimonials-author {
    display: inline-block;
    text-align: left;
    padding-left: 10px;
}
.fw-testimonials-2 .fw-testimonials-text {
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #dadada;
    margin-bottom: 15px;
}
.fw-testimonials-2 .fw-testimonials-text:before,
.fw-testimonials-2 .fw-testimonials-text:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 45px;
    border-style: solid;
}
.fw-testimonials-2 .fw-testimonials-text:before {
    bottom: -11px;
    margin-left: -1px;
    border-width: 11px 11px 0 11px;
    border-color: #dadada transparent transparent transparent;
}
.fw-testimonials-2 .fw-testimonials-text:after {
    bottom: -10px;
    border-width: 10px 10px 0 10px;
    border-color: #ffffff transparent transparent  transparent;
}
.fw-testimonials-2 .fw-testimonials-meta {
    display: table;
    margin-left: 20px;
}
.fw-testimonials-2 .fw-testimonials-meta > div {
    display: table-cell;
    vertical-align: middle;
}
.fw-testimonials-2 .fw-testimonials-avatar {
    margin-right: 10px;
}
.fw-testimonials-2 .fw-testimonials-avatar img {
    width: 70px;
    height: 70px;
    border: 1px solid #dadada;
    padding: 5px;
    background-color: #fff;
    border-radius: 50%;
}
.fw-testimonials-2 .fw-testimonials-author {
    padding: 0 0 0 20px;
}
.fw-testimonials-2 .fw-testimonials-author .author-name {
    font-weight: bold;
    display: block;
}
.fw-testimonials-2 .fw-testimonials-author em {
    font-size: 90%;
}
.fw-testimonials-2 .fw-testimonials-author .fw-testimonials-url {
    display: block;
}
.fw-testimonials-2 .fw-testimonials-arrows {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 0;
    z-index: 2;
}
.fw-testimonials-2 .fw-testimonials-arrows a {
    margin: 0 5px;
}
.fw-testimonials-2 .fw-testimonials-pagination {
    position: absolute;
    display: inline-block;
    bottom: 22px;
    right: 60px;
    z-index: 2;
}
.fw-testimonials-2.fw-testimonials-2-2 .fw-testimonials-text:before,
.fw-testimonials-2.fw-testimonials-2-2 .fw-testimonials-text:after {
    left: auto;
    right: 45px;
}
.fw-testimonials-2.fw-testimonials-2-2 .fw-testimonials-text:before {
    margin: 0 -1px 0 0;
}
.fw-testimonials-2.fw-testimonials-2-2 .fw-testimonials-meta {
    margin-right: 20px;
    float: right;
}
.fw-testimonials-2.fw-testimonials-2-2 .fw-testimonials-avatar {
    float: right;
}
.fw-testimonials-2.fw-testimonials-2-2 .fw-testimonials-author {
    padding: 0 20px 0 0;
    text-align: right;
}
.fw-testimonials-2.fw-testimonials-2-2 .fw-testimonials-author .author-name {
    font-weight: bold;
    display: block;
}
.fw-testimonials-2.fw-testimonials-2-2 .fw-testimonials-arrows {
    right: auto;
    left: 0;
}
.fw-testimonials-2.fw-testimonials-2-2 .fw-testimonials-pagination {
    right: auto;
    left: 60px;
}
.fw-testimonials-3 .fw-testimonials-pagination {
    display: none;
}
.fw-testimonials-3 .fw-testimonials-item {
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
}
.fw-testimonials-3 .fw-testimonials-item:before {
    content: "”";
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 0px;
    line-height: 1em;
    font-size: 100px;
    color: #ccc;
}
.fw-testimonials-3 .fw-testimonials-avatar {
    float: left;
    margin: 0 20px;
}
.fw-testimonials-3 .fw-testimonials-avatar img {
    margin: 0 auto;
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
}
.fw-testimonials-3 .fw-testimonials-text {
    position: relative;
    margin-left: 150px;
}
.fw-testimonials-3 .fw-testimonials-author {
    text-align: right;
}
.fw-testimonials-3 .fw-testimonials-author .author-name {
    font-weight: bold;
    color: #888;
}
.fw-testimonials-3 .fw-testimonials-author .author-name:before {
    content: "- ";
}
.fw-testimonials-3 .fw-testimonials-author em:before,
.fw-testimonials-3 .fw-testimonials-author .fw-testimonials-url:before {
    content: " | ";
}
.fw-testimonials-3 .fw-testimonials-arrows {
    position: relative;
    text-align: center;
}
.fw-testimonials-3 .fw-testimonials-arrows a {
    margin: 0 10px;
}
.fw-testimonials-4 .fw-testimonials-arrows {
    display: none;
}
.fw-testimonials-4 .fw-testimonials-item {
    padding-top: 5px;
}
.fw-testimonials-4 .fw-testimonials-avatar {
    position: relative;
    float: left;
    margin: 0 20px 0 0;
    width: 120px;
    height: 120px;
}
.fw-testimonials-4 .fw-testimonials-avatar img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 4px solid #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.fw-testimonials-4 .fw-testimonials-wrapper {
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    padding: 20px;
    margin-left: 130px;
}
.fw-testimonials-4 .fw-testimonials-author {
    text-align: left;
}
.fw-testimonials-4 .fw-testimonials-author .author-name {
    font-weight: bold;
    color: #888;
}
.fw-testimonials-4 .fw-testimonials-author .author-name:before {
    content: "- ";
}
.fw-testimonials-4 .fw-testimonials-author em:before,
.fw-testimonials-4 .fw-testimonials-author .fw-testimonials-url:before {
    content: " / ";
    font-style: normal;
}
.fw-testimonials-4 .fw-testimonials-pagination {
    text-align: center;
    margin-top: 20px;
}
/* Dividers */
/* -------------------------------------------------- */
.fw-divider-space {
    clear: both;
    width: 100%;
}
.fw-divider-space.space-sm {
    height: 30px;
}
.fw-divider-space.space-md {
    height: 65px;
}
.fw-divider-space.space-lg {
    height: 85px;
}
.fw-divider-line {
    clear: both;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.fw-divider-line.space-sm {
    margin-bottom: 15px;
    padding-top: 15px;
}
.fw-divider-line.space-md {
    margin-bottom: 30px;
    padding-top: 30px;
}
.fw-divider-line.space-lg {
    margin-bottom: 50px;
    padding-top: 50px;
}
.fw-divider-line.fw-line-solid {
    border-bottom: 2px solid #666666;
}
.fw-divider-line.fw-line-dashed {
    border-bottom: 2px dashed #666666;
}
.fw-divider-line.fw-line-dotted {
    border-bottom: 2px dotted #666666;
}
.fw-divider-line.fw-line-double {
    border-bottom: 3px double #666666;
}
.fw-divider-line.fw-line-thick {
    border-bottom: 4px solid #666666;
}
/* Divider Special (text or icon) */
.fw-divider-special {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.fw-divider-special.title-right {
    clear: both;
}
.fw-divider-special.title-left {
    text-align: left;
    margin-left: 0;
}
.fw-divider-special.title-left .fw-divider-title {
    padding-left: 0;
}
.fw-divider-special.title-right {
    text-align: right;
    margin-right: 0;
}
.fw-divider-special.title-right .fw-divider-title {
    padding-right: 0;
}
.fw-divider-special .fw-divider-holder {
    border-color: #666666;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 3000px;
}
.fw-divider-special .fw-divider-left {
    margin-right: 10px;
    right: 100%;
}
.fw-divider-special .fw-divider-right {
    left: 100%;
    margin-left: 10px;
}
.fw-divider-special.fw-line-solid .fw-divider-holder {
    border-top-style: solid;
    border-top-width: 1px;
}
.fw-divider-special.fw-line-dashed .fw-divider-holder {
    border-top-style: dashed;
    border-top-width: 1px;
}
.fw-divider-special.fw-line-dotted .fw-divider-holder {
    border-top-style: dotted;
    border-top-width: 1px;
}
.fw-divider-special.fw-line-double .fw-divider-holder {
    border-top-style: double;
    border-top-width: 3px;
}
.fw-divider-special.fw-line-thick .fw-divider-holder {
    border-top-style: solid;
    border-top-width: 4px;
}
.fw-divider-special.fw-line-none .fw-divider-holder {
    display: none;
}
.fw-divider-special.space-sm {
    margin-top: 15px;
    margin-bottom: 15px;
}
.fw-divider-special.space-md {
    margin-top: 30px;
    margin-bottom: 30px;
}
.fw-divider-special.space-lg {
    margin-top: 50px;
    margin-bottom: 50px;
}
.fw-divider-special .fw-divider-inner {
    display: inline-block;
    position: relative;
    top: 50%;

}
.fw-divider-special.fw-divider-size-sm .fw-divider-inner {
    font-size: 16px;
}
.fw-divider-special.fw-divider-size-md .fw-divider-inner {
    font-size: 22px;
}
.fw-divider-special.fw-divider-size-lg .fw-divider-inner {
    font-size: 36px;
}
.fw-divider-special.fw-divider-icon .fw-divider-inner {
    padding: 0;
    border-radius: 50%;
    text-align: center;
}
.fw-divider-special.fw-divider-icon.fw-divider-size-sm .fw-divider-inner {
    width: 32px;
    height: 32px;
    line-height: 32px;
}
.fw-divider-special.fw-divider-icon.fw-divider-size-sm .fw-divider-title {
    line-height: 32px;
}
.fw-divider-special.fw-divider-icon.fw-divider-size-md .fw-divider-inner {
    width: 44px;
    height: 44px;
    line-height: 44px;
}
.fw-divider-special.fw-divider-icon.fw-divider-size-md .fw-divider-title {
    line-height: 44px;
}
.fw-divider-special.fw-divider-icon.fw-divider-size-lg .fw-divider-inner {
    width: 72px;
    height: 72px;
    line-height: 72px;
}
.fw-divider-special.fw-divider-icon.fw-divider-size-lg .fw-divider-title {
    line-height: 72px;
}
.fw-divider-special.fw-divider-icon.fw-divider-size-lg .fw-divider-left {
    margin-right: 15px;
}
.fw-divider-special.fw-divider-icon.fw-divider-size-lg .fw-divider-right {
    margin-left: 15px;
}
.divider-bg-on .fw-divider-inner {
    padding: 0.5em 1em;
    background-color: #666666;
    border-radius: 3px;
    color: #fff;
}
/* Icons Box */
/* -------------------------------------------------- */

.fw-iconbox .fw-iconbox-title h3 {
    margin-top: 0;
    font-size: 20px;
}
.fw-iconbox .fw-iconbox-text {
    padding-bottom: 10px;
}
.fw-iconbox .fw-iconbox-text p:last-child {
    margin-bottom: 0;
}
/* Icon box style 1 */
.fw-iconbox-1 {
    text-align: center;
}
.fw-iconbox-1 .fw-iconbox-image {
    width: 80px;
    font-size: 40px;
    line-height: 40px;
    margin-right: auto;
    margin-left: auto;
    /*    color: #ce631a;*/
    border-radius: 5px;
}
.fw-iconbox-1 .fw-iconbox-image img {
    border-radius: 5px;
}
.fw-iconbox-1 .fw-iconbox-title h3 {
    margin-top: 0.6em;
}
.fw-iconbox-1.bg-on .fw-iconbox-image {
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: #ce631a;
    color: #fff;
}
.fw-iconbox-1.icon-circle .fw-iconbox-image {
    border-radius: 50%;
}
.fw-iconbox-1.icon-circle .fw-iconbox-image img {
    border-radius: 50%;
}
/* Icon box style 2 */
.fw-iconbox-2 {
    text-align: left;
}
.fw-iconbox-2 .fw-iconbox-image {
    float: left;
    width: 44px;
    font-size: 22px;
    line-height: 22px;
    /*    color: #ce631a;*/
    border-radius: 5px;
    text-align: center;
}
.fw-iconbox-2 .fw-iconbox-image img {
    border-radius: 5px;
}
.fw-iconbox-2 .fw-iconbox-aside {
    margin-left: 70px;
    /*    margin-left: 59px;*/
}
.fw-iconbox-2.fw-icon-right {
    /*text-align: right;*/
}
.fw-iconbox-2.fw-icon-right .fw-iconbox-image {
    float: right;
}
.fw-iconbox-2.fw-icon-right .fw-iconbox-aside {
    margin-left: auto;
    margin-right: 59px;
}
.fw-iconbox-2.bg-on .fw-iconbox-title h3,
.fw-iconbox-2.fw-iconbox-image-type .fw-iconbox-title h3 {
    margin-top: 9px;
}
.fw-iconbox-2.bg-on .fw-iconbox-image {
    width: 44px;
    height: 44px;
    line-height: 44px;
    background-color: #ce631a;
    color: #fff;
}
.fw-iconbox-2.icon-circle .fw-iconbox-image {
    border-radius: 50%;
}
.fw-iconbox-2.icon-circle .fw-iconbox-image img {
    border-radius: 50%;
}
/* Icon box style 3 */
.fw-iconbox-3 {
    text-align: left;
}
.fw-iconbox-3 .fw-iconbox-image {
    /*    float: left;*/
    width: 36px;
    font-size: 18px;
    line-height: 18px;
    /*    color: #ce631a;*/
    border-radius: 5px;
}
.fw-iconbox-3 .fw-iconbox-image img {
    border-radius: 5px;
}
.fw-iconbox-3.fw-iconbox-image-type .fw-iconbox-image {
    margin-right: 15px;
}
.fw-iconbox-3 .fw-iconbox-aside {
    display: inline;
}
.fw-iconbox-3.bg-on .fw-iconbox-title h3,
.fw-iconbox-3.fw-iconbox-image-type .fw-iconbox-title h3 {
    margin-top: 9px;
}
.fw-iconbox-3.bg-on .fw-iconbox-image {
    width: 36px;
    height: 36px;
    line-height: 36px;
    background-color: #ce631a;
    color: #fff;
    text-align: center;
    margin-right: 15px;
}
.fw-iconbox-3.fw-icon-right {
    /*text-align: right;*/
}
.fw-iconbox-3.fw-icon-right .fw-iconbox-image {
    float: right;
    margin-right: 0;
    margin-left: 15px;
}
.fw-iconbox-3 .fw-iconbox-text {
    clear: both;
    /*    padding-top: 10px;*/
}
.fw-iconbox-3.icon-circle .fw-iconbox-image {
    border-radius: 50%;
}
.fw-iconbox-3.icon-circle .fw-iconbox-image img {
    border-radius: 50%;
}
/* Image Box */
/* -------------------------------------------------- */
.fw-imagebox {
    position: relative;
}
.fw-imagebox.bg-on {
    background-color: #e2e2e2;
}
.fw-imagebox.bg-on .fw-imagebox-aside {
    padding: 20px 15px;
}
.fw-imagebox.bg-on .fw-imagebox-title {
    margin-top: 0;
}
.fw-imagebox.text-center .fw-imagebox-title:after {
    margin: 10px auto 0 auto;
}
.fw-imagebox .fw-imagebox-image {
    position: relative;
    display: block;
}
.fw-imagebox .fw-imagebox-image span {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: normal;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    opacity: 0;
}
.fw-imagebox .fw-imagebox-image span:before {
    content: "+";
}
.fw-imagebox a.fw-imagebox-image:hover span {
    opacity: 1;
}
.fw-imagebox.imagebox-boxed {
    padding: 15px;
    border: 1px solid #ccc;
}
.fw-imagebox.imagebox-boxed.bg-on .fw-imagebox-aside {
    padding-bottom: 0;
}
.fw-imagebox.no-divider .fw-imagebox-title:after {
    display: none;
}
.fw-imagebox-title {
    margin: 20px 0 10px 0;
    color: #000000;
    font-size: 22px;
}
.fw-imagebox-title:after {
    content: "";
    clear: both;
    display: block;
    width: 50px;
    height: 0;
    border-top: 2px solid #b16b3c;
    margin: 10px 0 10px 0;
}
.fw-imagebox-subtitle {
    font-style: italic;
    color: #666666;
    font-size: 15px;
    margin: 0 0 15px 0;
}
.fw-imagebox-text {
    padding: 0;
}
.fw-imagebox-text p:last-child {
    margin-bottom: 0;
}
.fw-imagebox-btn {
    padding-top: 15px;
    padding-bottom: 15px;
}
/* Style 2 */
.fw-imagebox-2 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fw-imagebox-2 .fw-imagebox-aside {
    margin: 15px;
    padding: 30px 20px;
    display: block;
}
.fw-imagebox-2 .fw-imagebox-title {
    margin: 0;
}
.fw-imagebox-2 .fw-imagebox-subtitle {
    margin: 10px 0;
}
.fw-imagebox-2 .fw-imagebox-text {
    margin-top: 10px;
}
.fw-imagebox-2 .fw-imagebox-text a {
    text-decoration: underline;
}
.fw-imagebox-2 .fw-imagebox-btn {
    padding-bottom: 0;
}
.fw-imagebox-2.light-style .fw-imagebox-title,
.fw-imagebox-2.light-style .fw-imagebox-subtitle,
.fw-imagebox-2.light-style .fw-imagebox-text,
.fw-imagebox-2.light-style .fw-imagebox-text a {
    color: #000;
}
.fw-imagebox-2.light-style .fw-imagebox-aside {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.fw-imagebox-2.light-style:hover .fw-imagebox-aside {
    background-color: rgba(255, 255, 255, 0.8);
}
.fw-imagebox-2.dark-style .fw-imagebox-title,
.fw-imagebox-2.dark-style .fw-imagebox-subtitle,
.fw-imagebox-2.dark-style .fw-imagebox-text,
.fw-imagebox-2.dark-style .fw-imagebox-text a {
    color: #fff;
}
.fw-imagebox-2.dark-style .fw-imagebox-aside {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.fw-imagebox-2.dark-style:hover .fw-imagebox-aside {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Alerts */
/* -------------------------------------------------- */
.fw-alert {
    padding: 15px;
    margin-bottom: 22px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.fw-alert h4 {
    margin-top: 0;
    color: inherit;
    display: inline;
    font-size: 17px;
    font-weight: bold;
}
.fw-alert h4:after {
    display: block;
    clear: both;
    content: "";
    margin-bottom: 10px;
}
.fw-alert a {
    font-weight: bold;
}
.fw-alert a:hover {
    text-decoration: underline;
}
.fw-alert > p {
    display: inline-block;
}
.fw-alert > p,
.fw-alert > ul {
    margin-bottom: 0;
}
.fw-alert > p + p {
    margin-top: 7px;
}
.fw-alert .alert-icon {
    margin-right: 5px;
    font-size: 18px;
    position: relative;
    top: 1px;
}
.alert-dismissible {
    padding-right: 35px;
}
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
.fw-alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.fw-alert-success hr {
    border-top-color: #c9e2b3;
}
.fw-alert-success a {
    color: #2b542c;
}
.fw-alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
.fw-alert-info hr {
    border-top-color: #a6e1ec;
}
.fw-alert-info a {
    color: #245269;
}
.fw-alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
.fw-alert-warning hr {
    border-top-color: #f7e1b5;
}
.fw-alert-warning a {
    color: #66512c;
}
.fw-alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.fw-alert-danger hr {
    border-top-color: #e4b9c0;
}
.fw-alert-danger a {
    color: #843534;
}
/* Call to action */
/* -------------------------------------------------- */
.fw-call-to-action {
/*    background-color: #f4f4f4;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 20px;
    display: table;
    width: 100%;*/
    /* light style */
}
.fw-call-to-action > div {
    display: table-cell;
    vertical-align: middle;
}
.fw-call-to-action .fw-action-content p {
    font-size: 120%;
}
.fw-call-to-action .fw-action-content h2 {
    margin-top: 0;
    font-weight: bold;
}
.fw-call-to-action .fw-action-btn {
    padding-left: 50px;
    text-align: right;
}
.fw-call-to-action.light-style {
    color: #fff;
}
.fw-main-row-custom .fw-call-to-action {
    background-color: transparent;
    border: none;
    padding: 0;
}
/* Team Member */
/* -------------------------------------------------- */
.fw-team {
    text-align: center;
}
.fw-team.fw-team-circle .fw-team-image img {
    border-radius: 50%;
}
.fw-team .fw-team-name {
    margin-bottom: 10px;
}
.fw-team .fw-team-name h3 {
    font-size: 23px;
    margin: 10px 0 5px 0;
    color: #b16b3c;
}
.fw-team .fw-team-name h3 span {
    font-weight: bold;
}
.fw-team .fw-team-name > span {
    font-size: 13px;
    color: #666666;
}
.fw-team .fw-team-socials a {
    display: inline-block;
    margin: 0 2px;
    font-size: 20px;
    color: #555555;
    opacity: 0.7;
    padding: 6px;
    margin-top: 10px;
}
.fw-team .fw-team-socials a:hover {
    opacity: 1;
    color: #1ac6ff;
}
/* Special Heading */
/* -------------------------------------------------- */
.fw-heading {
    margin-bottom: 1em;
}
/*.fw-heading h1,
.fw-heading h2,
.fw-heading h3,
.fw-heading h4,
.fw-heading h5,
.fw-heading h6 {

    font-family: 'Raleway', sans-serif;
}*/
/*.fw-heading .fw-special-subtitle {
    font-family: 'Open Sans', sans-serif;
}*/
.fw-heading.fw-heading-h1 .fw-special-subtitle {
    font-size: 130%;
}
.fw-heading.fw-heading-center {
    text-align: center;
}

.fw-heading .fw-special-title-half h1, 
.fw-heading .fw-special-title-half h2, 
.fw-heading .fw-special-title-half h3, 
.fw-heading .fw-special-title-half h4, 
.fw-heading .fw-special-title-half h5, 
.fw-heading .fw-special-title-half h6{
    margin: 0
}
/* List */
/* -------------------------------------------------- */
.fw-list ul,
.fw-list ol {
    margin: 0.7em 0 0 0;
    padding: 0.7em 0 0 0;
}
.fw-list li {
    margin: 0 0 0.7em 0;
    list-style: inside;
    padding-left: 15px;
    position: relative;
    display: inline-block;
}
.fw-list li ul,
.fw-list li ol {
    margin: 0 0 0 10px;
}
.fw-list.list-numbers li {
    list-style: decimal inside;
}
.fw-list.list-bordered ul,
.fw-list.list-bordered ol {
    margin: 0;
    border-bottom: 1px solid #cccccc;
}
.fw-list.list-bordered li {
    border-top: 1px solid #cccccc;
    padding-top: 0.7em;
}
.fw-list.list-bordered li ul {
    margin: 0 0 0 10px;
    border-bottom: none;
}
.fw-list.list-accent i {
    color: #b16b3c;
}
.fw-list.list-icon li {
    list-style: none;
    padding-left: 30px;
}
.fw-list.list-icon li i {
    position: absolute;
    left: 2px;
    top: 0.25em;
    font-size: 14px;
}
.fw-list.list-icon.list-bordered i {
    top: 0.95em;
}
.fw-title{
    font-weight: 300;
}
/* Tabs */
/* -------------------------------------------------- */
.fw-tabs .nav-tabs {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.fw-tabs .nav-tabs li a i {
    margin: 0 2px;
}
.fw-tabs-framed .nav-tabs {
    border-bottom: 1px solid #dddddd;
}
.fw-tabs-framed .nav-tabs > li {
    padding-top: 2px;
}
.fw-tabs-framed .nav-tabs > li > a {
    background-color: #ededed;
    border: 1px solid #dddddd;
    padding: 7px 15px;
    color: #666666;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    border-radius: 4px 4px 0 0;
}
.fw-tabs-framed .nav-tabs > li > a:hover {
    color: #b16b3c;
}
.fw-tabs-framed .nav-tabs > li.active {
    padding-top: 0;
}
.fw-tabs-framed .nav-tabs > li.active > a,
.fw-tabs-framed .nav-tabs > li.active > a:hover,
.fw-tabs-framed .nav-tabs > li.active > a:focus {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    padding: 8px 15px;
    color: #b16b3c;
}
.fw-tabs-framed .tab-content {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-top: none;
    padding: 20px;
    border-radius: 0 0 4px 4px;
}
.fw-tabs-framed .tab-content p:last-child {
    margin-bottom: 0;
}
.fw-tabs-framed .nav-justified {
    border-bottom: none;
}
.fw-tabs-framed .nav-justified > li {
    padding-top: 0;
}
.fw-tabs-framed .nav-justified > li a {
    padding: 6px 15px 8px 15px;
}
.fw-tabs-framed .nav-justified > li.active a {
    padding: 8px 15px;
}
.fw-tabs-minimal .nav-tabs {
    border-bottom: 1px solid #dddddd;
}
.fw-tabs-minimal .nav-tabs > li > a {
    background-color: transparent;
    border: none;
    padding: 8px 10px;
    color: #666666;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.fw-tabs-minimal .nav-tabs > li > a:hover {
    color: #1ac6ff;
}
.fw-tabs-minimal .nav-tabs > li.active > a,
.fw-tabs-minimal .nav-tabs > li.active > a:hover,
.fw-tabs-minimal .nav-tabs > li.active > a:focus {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #1ac6ff;
    color: #1ac6ff;
}
/*.fw-tabs-minimal .tab-content {
    padding: 20px 0;
}*/
.fw-tabs-minimal .tab-content p:last-child {
    margin-bottom: 0;
}
.fw-tabs-left .nav-tabs {
    border-bottom: 0;
    float: left;
    border-right: 1px solid #dddddd;
    text-align: right;
}
.fw-tabs-left .nav-tabs > li {
    float: none;
    padding-top: 0;
    position: relative;
    width: 150px;
}
.fw-tabs-left .nav-tabs > li > a {
    margin-bottom: 3px;
    border-radius: 4px 0 0 4px;
    padding: 8px 10px;
    border-right-color: transparent;
    margin-right: 0;
    white-space: normal;
}
.fw-tabs-left .nav-tabs > li.active a,
.fw-tabs-left .nav-tabs > li.active a:hover,
.fw-tabs-left .nav-tabs > li.active a:focus {
    border-color: #dddddd transparent #dddddd #dddddd;
    *border-right-color: #ffffff;
    padding: 20px 30px;
    margin-right: -1px;
}
.no-padding{
    padding: 0!important;
    overflow: hidden;
}
.fw-tabs-left .tab-content {
    margin-left: 150px;
    padding-top: 7px!important;
}
.fw-tabs-left.fw-tabs-framed .tab-content {
    border-top: 1px solid #dddddd;
    border-radius: 0 4px 4px 0;
}
.fw-tabs-left.fw-tabs-minimal .nav-tabs > li.active > a,
.fw-tabs-left.fw-tabs-minimal .nav-tabs > li.active > a:hover,
.fw-tabs-left.fw-tabs-minimal .nav-tabs > li.active > a:focus {
    border: none;
    border-right: 2px solid #1ac6ff;
    padding: 20px !important;
}
.xs-tab.fw-tabs-left ul.nav-tabs>li>a,
.fw-tabs-left.fw-tabs-minimal .nav-tabs > li.active > a, 
.fw-tabs-left.fw-tabs-minimal .nav-tabs > li.active > a:hover, 
.fw-tabs-left.fw-tabs-minimal .nav-tabs > li.active > a:focus{
    padding: 10px 10px 10px 20px !important;
}
.fw-tabs-left.fw-tabs-minimal .tab-content {
    padding: 0 0 0 20px;
    border-left: 1px solid #dddddd;
}
/* Toggle */
/* -------------------------------------------------- */
.fw-toggle {
    margin-bottom: 20px;
}
.fw-toggle .panel-title {
    position: relative;
}
.fw-toggle .panel-title i {
    margin-right: 5px;
}
.fw-toggle .panel-collapse {
    padding-top: 10px;
}
.fw-toggle .icon-toggle:before {
    content: "\f067";
    font-size: 14px;
    margin-left: 3px;
    position: relative;
    top: 0.1em;
    font-weight: normal;
}
.fw-toggle.opened .icon-toggle:before {
    content: "\f068";
}
.fw-toggle.fw-toggle-boxed .panel-toggle {
    display: block;
}
.fw-toggle.fw-toggle-boxed .icon-toggle:before {
    position: absolute;
    right: 0;
}
.fw-toggle.fw-toggle-boxed .panel-collapse {
    padding-top: 0;
}
/* Accordion */
/* -------------------------------------------------- */
.fw-accordion .panel-title {
    position: relative;
}
.fw-accordion .panel-title a {
    display: block;
}
.fw-accordion .panel-title a:before {
    font-family: 'FontAwesome';
    content: "\f067";
    font-size: 14px;
    margin-left: 3px;
    position: absolute;
    right: 0;
    top: 0.1em;
    font-weight: normal;
}
.fw-accordion .panel-title a.collapsed:before {
    content: "\f068";
}
.fw-accordion .panel-title i {
    margin-right: 5px;
}
/* Tables */
/* -------------------------------------------------- */
/*table,
th,
td {
    border: 1px solid rgba(0, 0, 0, 0.1);
}*/
table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    width: 100%;
}
table td,
table th {
    border-width: 0 1px 1px 0;
    padding: 7px 8px;
}
.fw-table table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 22px;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
}
.fw-table table caption {
    padding-top: 8px 10px;
    padding-bottom: 8px 10px;
    color: #bfbfbf;
    text-align: left;
}
.fw-table table th {
    text-align: left;
}
.fw-table table > thead > tr > th,
.fw-table table > tbody > tr > th,
.fw-table table > tfoot > tr > th,
.fw-table table > thead > tr > td,
.fw-table table > tbody > tr > td,
.fw-table table > tfoot > tr > td {
    padding: 8px 10px;
    line-height: 1.6;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}
.fw-table table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
}
.fw-table table > caption + thead > tr:first-child > th,
.fw-table table > colgroup + thead > tr:first-child > th,
.fw-table table > thead:first-child > tr:first-child > th,
.fw-table table > caption + thead > tr:first-child > td,
.fw-table table > colgroup + thead > tr:first-child > td,
.fw-table table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
.fw-table table > tbody + tbody {
    border-top: 2px solid #dddddd;
}
.fw-table table table {
    background-color: #f1f0ee;
}
.fw-table-condensed table > thead > tr > th,
.fw-table-condensed table > tbody > tr > th,
.fw-table-condensed table > tfoot > tr > th,
.fw-table-condensed table > thead > tr > td,
.fw-table-condensed table > tbody > tr > td,
.fw-table-condensed table > tfoot > tr > td {
    padding: 5px;
}
.fw-table-bordered table {
    border: 1px solid #dddddd;
}
.fw-table-bordered table > thead > tr > th,
.fw-table-bordered table > tbody > tr > th,
.fw-table-bordered table > tfoot > tr > th,
.fw-table-bordered table > thead > tr > td,
.fw-table-bordered table > tbody > tr > td,
.fw-table-bordered table > tfoot > tr > td {
    border: 1px solid #dddddd;
}
.fw-table-bordered table > thead > tr > th,
.fw-table-bordered table > thead > tr > td {
    border-bottom-width: 2px;
}
.fw-table-striped table > tbody > tr:nth-child(odd) {
    background-color: #f9f9f9;
}
.fw-table-hover table > tbody > tr:hover {
    background-color: #f5f5f5;
}
table col[class*="col-"] {
    position: static;
    float: none;
    display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    float: none;
    display: table-cell;
}
.fw-table {
    overflow-x: auto;
    min-height: 0.01%;
}
.fw-table .table-col-desc {
    text-align: right;
}
.fw-table .heading-row th {
    background-color: #f1f1f1;
}
@media screen and (max-width: 767px) {
    .fw-table {
        width: 100%;
        margin-bottom: 16.5px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #dddddd;
    }
    .fw-table > table {
        margin-bottom: 0;
    }
    .fw-table > table > thead > tr > th,
    .fw-table > table > tbody > tr > th,
    .fw-table > table > tfoot > tr > th,
    .fw-table > table > thead > tr > td,
    .fw-table > table > tbody > tr > td,
    .fw-table > table > tfoot > tr > td {
        white-space: nowrap;
    }
    .fw-table > .table-bordered {
        border: 0;
    }
    .fw-table > .table-bordered > thead > tr > th:first-child,
    .fw-table > .table-bordered > tbody > tr > th:first-child,
    .fw-table > .table-bordered > tfoot > tr > th:first-child,
    .fw-table > .table-bordered > thead > tr > td:first-child,
    .fw-table > .table-bordered > tbody > tr > td:first-child,
    .fw-table > .table-bordered > tfoot > tr > td:first-child {
        border-left: 0;
    }
    .fw-table > .table-bordered > thead > tr > th:last-child,
    .fw-table > .table-bordered > tbody > tr > th:last-child,
    .fw-table > .table-bordered > tfoot > tr > th:last-child,
    .fw-table > .table-bordered > thead > tr > td:last-child,
    .fw-table > .table-bordered > tbody > tr > td:last-child,
    .fw-table > .table-bordered > tfoot > tr > td:last-child {
        border-right: 0;
    }
    .fw-table > .table-bordered > tbody > tr:last-child > th,
    .fw-table > .table-bordered > tfoot > tr:last-child > th,
    .fw-table > .table-bordered > tbody > tr:last-child > td,
    .fw-table > .table-bordered > tfoot > tr:last-child > td {
        border-bottom: 0;
    }
}
/* Price Table */
/* -------------------------------------------------- */
.fw-price-table .fw-price-col {
    display: inline-block;
    float: left;
    position: relative;
    text-align: center;
}
.fw-price-table .fw-price-inner {
    position: relative;
    transition: all 0.15s ease 0s;
}
.fw-price-table .fw-price-title {
    margin: 0;
}
.fw-price-table .fw-price-row {
    line-height: 1.2em;
}
.fw-price-table .fw-price-inner > div {
    box-sizing: content-box;
}
@media (max-width: 991px) {
    .fw-price-table {
        width: 100% !important;
    }
}
/* Single Image */
/* -------------------------------------------------- */
.fw-single-image .fw-single-image-wrap {
    display: inline-block;
    overflow: hidden;
    position: relative;
    max-width: 100%;
}
.fw-single-image i {
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fw-single-image img {
    display: block;
    max-width: 100%;
    transition: all 0.2s linear;
}
.fw-single-image.fw-single-image-left {
    text-align: left;
}
.fw-single-image.fw-single-image-right {
    text-align: right;
}
.fw-single-image.fw-single-image-center {
    text-align: center;
}
.fw-single-image.fw-single-image-icon .fw-single-image-wrap i {
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.fw-single-image.fw-single-image-icon .fw-single-image-wrap i:before {
    font-style: normal;
    width: 56px;
    height: 56px;
    color: #ffffff;
    line-height: 56px;
    font-size: 28px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    text-align: center;
    font-weight: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -28px;
    margin-top: -28px;
}
.fw-single-image.fw-single-image-icon .fw-single-image-wrap .fw-icon-zoom:before {
    content: "\f065";
}
.fw-single-image.fw-single-image-icon .fw-single-image-wrap .fw-icon-link:before {
    content: "\f0c1";
}
.fw-single-image.fw-single-image-icon .fw-single-image-wrap .fw-icon-video:before {
    content: "\f04b";
    text-indent: 0.2em;
}
.fw-single-image.fw-single-image-icon .fw-single-image-wrap:hover img {
    transform: scale(1.1);
}
.fw-single-image.fw-single-image-icon .fw-single-image-wrap:hover i {
    opacity: 1;
}
.fw-single-image.fw-single-image-icon .fw-single-image-wrap:hover i:before {
    display: block;
}
.fw-single-image.fw-image-frame .fw-single-image-wrap {
    border: 10px solid #ffffff;
}
.fw-single-image.fw-image-frame .fw-single-image-wrap:before {
    position: absolute;
    z-index: 2;
    top: -9px;
    bottom: -9px;
    left: -9px;
    right: -9px;
    border: 1px solid #000;
    content: "";
}
.fw-single-image.fw-image-circle .fw-single-image-wrap {
    border-radius: 50%;
    z-index: 1;
}
.fw-single-image.fw-image-circle .fw-single-image-wrap img {
    border-radius: 50%;
}
/* Video */
/* -------------------------------------------------- */
.fw-video.fw-video-frame {
    padding: 10px;
    border: 1px solid #fff;
    background-color: #fff;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
}
.fw-video iframe,
.fw-video embed {
    max-width: 100%;
}
/* Quote */
/* -------------------------------------------------- */
.fw-quote {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
.fw-quote small {
    display: inline-block;
}
.fw-quote small:before {
    content: "";
    display: block;
    clear: both;
    width: 40px;
    height: 2px;
    background-color: #999;
    margin: 5px 0 10px 0;
}
.fw-quote small span {
    display: block;
}
.fw-quote.fw-quote-sm {
    font-size: 14px;
    line-height: 22px
}
.fw-quote.fw-quote-md {
    font-size: 17px;
    line-height: 30px;
}
.fw-quote.fw-quote-lg {
    font-size: 21px;
}
.fw-quote.fw-quote-left {
    text-align: left;
}
.fw-quote.fw-quote-right {
    text-align: right;
}
.fw-quote.fw-quote-right small:before {
    float: right;
}
.fw-quote.fw-quote-center {
    text-align: center;
}
.fw-quote.fw-quote-center small:before {
    margin: 5px auto 10px auto;
}
a i.pull-right, a span.pull-right {
    margin-top: 0.4em;
}
.fw-checkbox-float-left div {
    float: left;
    margin-right: 15px;
}


/*custom css*/
.fw-testimonials-1 {
    padding: 0 !important;
}
.fw-testimonials {
    margin: 0 !important; 
}
.panel-success>.panel-heading a{
    color: rgb(134, 134, 134);    
}
.panel-info>.panel-heading a{
    color: #918080;
}
.panel-warning>.panel-heading a{
    color: #A69F9F;
}
.panel-danger>.panel-heading a{
    color: #C38282;
}
.panel-default>.panel-heading,
.panel-success>.panel-heading, 
.panel-info>.panel-heading, 
.panel-warning>.panel-heading, 
.panel-danger>.panel-heading{
    padding: 20px 15px;
}



.fw-col-no-padding {
    padding: 0 !important;
}
.fw-map{

}
.field-text {
    margin-bottom: 15px;
}
.fw-section-height-sm{
    height: 350px
}
.fw-section-height-md{
    height: 450px
}
.fw-section-height-lg{
    height: 650px
}






/*.fw-image-frame{
    border: 10px solid #EDEDED;
}*/

.fw-single-image.fw-single-image-left {
    text-align: left;
    float: left;
    margin-right: 25px;
}
.fw-single-image.fw-single-image-center {
    text-align: center;
    display: block;
    margin: 0 auto;
}
.fw-single-image.fw-single-image-right {
    text-align: right;
    float: right;
    margin-left: 25px;
}
/* form */
.wrap-forms textarea {
    width: 100% !important;
}
.fw-main-row-overlay {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
/*QUOTE*/

.fw-quote {
    background-color:  transparent;
    border:  none;
    border-radius:  0;
    padding:  0 50px;
    font-weight:  400;
    line-height:  47px;
    display:  block;
    margin-top:  1em;
    margin-bottom:  1em;
}
.fw-quote p {
    margin-bottom:  17px;
}
.fw-quote.quotes-nopadding {
    padding:  0;
}
.fw-quote span {
    color:  #96243a;
    display:  block;
    font-size:  14px;
    font-family:  inherit;
    font-weight:  400;
    font-style:  normal;
    letter-spacing:  2px;
}
.fw-quote small {
    display:  block;
    line-height:  normal;
}
.fw-quote small:before {
    content: "\f07e";
    font-family:  'FontAwesome';
    font-size:  9px;
    color:  #71c7e0;
    display:  block;
    width:  auto;
    height:  auto;
    background-color:  transparent;
    margin:  17px auto 7px;
}
.fw-quote small a {
    display:  block;
    font-size:  14px;
    font-weight:  bold;
    text-transform:  uppercase;
    letter-spacing:  2px;
    margin-top:  15px;
}
.fw-quote.fw-quote-sm {
    font-size:  16px;
}
.fw-quote.fw-quote-md {
    font-size:  20px;
}
.fw-quote.fw-quote-lg {
    font-size:  34px;
}
.fw-quote.fw-quote-left {
    text-align:  left;
}
.fw-quote.fw-quote-left small {
    text-align:  center;
    width:  95%;
    margin:  0 auto;
}
.fw-quote.fw-quote-right {
    text-align:  right;
}
.fw-quote.fw-quote-right small {
    text-align:  center;
    width:  95%;
    margin:  0 auto;
}
.fw-quote.fw-quote-right small:before {
    float:  none;
}
.fw-quote.fw-quote-center {
    text-align:  center;
}
.fw-quote.fw-quote-center small:before {
    margin:  5px auto 10px auto;
}
.fw-quote:before, .fw-quote:after {
    display: none;
    font-family:  'FontAwesome';
    font-size:  30px;
    color:  #f1eee9;
    position:  relative;
}
.fw-quote:before {
    content:  "\f10d";
    top:  -28px;
    left:  -56px;
    float:  left;
}
.fw-quote:after {
    content:  "\f10e";
    bottom:  28px;
    right:  -56px;
    float:  right;
}
@media (max-width: 1199px) {
    .fw-quote {
        padding:  0 120px;
    }
    .fw-quote:before {
        left:  -36px;
    }
    .fw-quote:after {
        right:  -36px;
    }
}

@media (max-width: 991px) {
    .fw-quote {
        padding:  0 50px;
    }
    .fw-quote:before {
        left:  -26px;
    }
    .fw-quote:after {
        right:  -26px;
    }
    .fw-section-height-sm, 
    .fw-section-height-md, 
    .fw-section-height-lg{
        height: auto;
    }

}

@media (max-width: 767px) {
    .fw-quote {
        line-height:  27px;

    }

}

@media (max-width: 479px) {
    .fw-quote {
        padding:  0;
    }
    .fw-quote:before, .fw-quote:after {
        display:  none;
    }
}



.wallpaper,
.wallpaper .wallpaper-container,
.wallpaper .wallpaper-media {
	-webkit-transition: none !important;
	transition: none !important;
}

.wallpaper {
	overflow: hidden;
	position: relative;
}

.wallpaper .wallpaper-container {
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

.wallpaper .wallpaper-media {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
}

.wallpaper .wallpaper-media.animated {
	-webkit-transition: opacity 0.5s linear !important;
	transition: opacity 0.5s linear !important;
}

.wallpaper .wallpaper-media img,
.wallpaper .wallpaper-media video,
.wallpaper .wallpaper-media iframe {
	display: block;
	height: 100%;
	width: 100%;
}

.wallpaper .wallpaper-embed.ready:after {
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.wallpaper .wallpaper-embed.ready iframe {
	/* pointer-events: none; - safari doesn't like this :/ */
	z-index: 0;
}

.wallpaper .wallpaper-media.native {
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.wallpaper .wallpaper-media.native img {
	display: none;
}

.wallpaper .wallpaper-media.fixed {
	background-position: center;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
}

.wallpaper .wallpaper-media.fixed img {
	display: none;
}

button, input {
    border: 1px solid #aaa;
    padding: 3px 5px;
    line-height: 1.4!important;
}